*{
	padding: 0;
	margin: 0;
}
.main
{
	width: 90%;
	text-align: center;
	margin-left:5%;
	margin-right: 5%;
}

body
{
	background-color: #F8F8FF;
}

a
{
	text-decoration: none;
}

div.zg
{
	padding-top: 10px;
	height: 400px;
	background-image: url("image/1.jpg");
	border-radius: 60px;
}

div.zg p
{
	text-align: center;
	
	font-family: "Snell Roundhand";
	font-style:italic;
	font-weight:bold;
	font-size: 70px;
	color: red;
	text-shadow: 20px 20px 40px #0c1b3a;
}

div.menu
{
	margin-top: 350px;
	margin-left:300px;
	width: 100%;
	font-size: 35px;
	text-align: right;
}
div.menu ul
{
	list-style-type: none;
	margin: 0;
	margin-left: 10px;
	padding: 0;
	position: absolute;
	
}

div.menu li
{
	display: inline-block;
	float: left;
	margin-right: 10px;
}

div.menu li a
{
	display: block;
	min-width: 250px;
	height: 50px;
	text-align: right;
	line-height: 50px;
	font-family: "Bradley Hand";
	font-style:italic;
	color: #8B0000;
	text-decoration: none;
}

div.menu li:hover a
{
	background: #FFF0F5;
}

div.menu ul li a:hover
{
	display: block;
}

.spis
{
	padding-left:50px;
	padding-right:10px;
}

div.about
{
	margin-top:20px;
	text-align: center;
	height: 1250px;
	background-color: #FFF0F5;
	border-radius: 60px;
}

div.about td
{
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	font-size: 40px;
	line-height: 40px;
	color: #B22222;
	font-family: Gabriola;
}

div.about table
{
	width: 100%;
	margin-top: 50px;
}

p.nazv
{
	font-family: "Monotype Corsiva";
	font-size: 80px;
	color: #8B0000;
}

div.contact
{
	margin-top:20px;
	text-align: center;
	height: 400px;
	background-color: #FFF0F5;
	border-radius: 60px;
}

div.contact td
{
	padding-left: 20px;
	text-align: justify;
	font-size: 30px;
	line-height: 30px;
	color: #B22222;
	font-family: Gabriola;
}

div.contact table
{
	width: 100%;
	margin-top: 50px;
}

img
{
	border-radius: 30px;
}
hr
{
	color:#800000;
	border: 2px solid;
}
p.pun 
{
	color:#B22222;
}
